@import "./vars.css";

/*Styling the main container for the About Me section*/
.aboutMe {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    color: var(--color-text);
    background-color: var(--color-bg);
    height: 100vh;
    box-sizing: border-box;
    overflow: hidden;
    background-color: transparent;
}

/*Styling video background*/
.videoBackground {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    z-index: -1;
}

/*Styling the box that contains text*/
.box {
    width: auto;
    max-width: 55%;
    min-width: 300px;
    height: auto;
    max-height: 100%;
    background-color: rgba(0, 0, 0, 0.336);
    border: 1px solid var(--color-primary);
    border-radius: 10px;
    padding: 2rem;
    box-shadow: 0 4px 15px var(--color-boxshadow);
    text-align: left;
    overflow: hidden;
}

/*Styling for the box title*/
.box h2 {
    font-size: 2.8rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
    color: var(--color-primary);
    text-align: left;
    border-bottom: 2px solid var(--color-primary);
    padding-bottom: 0.5rem;
    font-weight: bold;
}

/*Styling text container within the box*/
.textSection {
    display: flex;
    flex-direction: column;
}

/*Styling container for image*/
.imageSection {
    flex: 0.8;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2rem;
    margin-right: 6rem;
}

/*Styling image inside image section*/
.imageSection img {
    max-width: 600px;
    width: 100%;
    height: auto;
    border-radius: 50%;
}

/*Styling individual paragraphs in the text section*/
.paragraph {
    margin-bottom: 1.5rem;
    line-height: 1.8;
    font-size: 1.8rem;
}

/*Styling certain words to stand out*/
.highlight {
    color: var(--color-primary);
    font-weight: bold;
}