@import "./vars.css";

.aboutMe {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    color: var(--color-text);
    background-color: var(--color-bg);
    height: 100vh;
    box-sizing: border-box;
}

.box {
    width: 70%;
    background-color: var(--color-dark);
    border: 1px solid var(--color-primary);
    border-radius: 10px;
    padding: 2rem;
    box-shadow: 0 4px 15px rgb(0, 0, 0);
}

.textSection {
    display: flex;
    flex-direction: column;
}

.imageSection {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2rem;
}

.imageSection img {
    max-width: 250px;
    width: 100%;
    height: auto;
    border-radius: 50%;
    box-shadow: 0 0 15px var(--color-primary);
}

.paragraph {
    margin-bottom: 1.5rem;
    line-height: 1.6;
}