@import "./vars.css";

/* Styling for the main navigation bar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #201f1fde;
    color: var(--color-text);
    z-index: 100;
}

/* Styling for the logo in the navbar */
.logo {
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--color-highlight);
}

/* Styling for the container of navigation links */
.navLinks {
    list-style: none;
    display: flex;
    gap: 1rem;
}

/* Styling for individual navigation links */
.navLinks a {
    text-decoration: none;
    color: var(--color-text);
    transition: color 0.3s, font-weight 0.3s;
}

/* Hover effect for navigation links */
.navLinks a:hover {
    color: var(--color-highlight);
}

/* Styling for the active navigation link */
.navLinks a.active {
    color: var(--color-highlight);
}