@import './vars.css';

/* Styling for the main container of the Projects page */
.projectsPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    color: var(--color-text);
    min-height: 100vh;
    overflow-y: auto;
}

/*Styling video background*/
.videoBackground {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    z-index: -1;
}

/* Styling for the container holding project selection buttons */
.buttonsContainer {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 2rem;
}

/* Styling for individual project selection buttons */
.button {
    padding: 0.8rem 1.2rem;
    font-size: 1rem;
    background-color: var(--color-dark);
    color: var(--color-text);
    border: none;
    border-radius: 100px;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* Hover effect for project selection buttons */
.button:hover {
    background-color: var(--color-primary3);
}

/* Styling for the currently active button */
.button.active {
    background-color: var(--color-primary3);
}

/* Styling for the container displaying project details */
.projectDetails {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2rem;
    width: 90%;
    max-width: 1400px;
    padding: 2rem;
    background-color: rgba(10, 24, 51, 0.37);
    border-radius: 10px;
    border: 1px solid var(--color-primary3);
    box-shadow: 0 4px 15px var(--color-boxshadow);
}

/* Styling for the left column in the project details */
.leftColumn {
    flex: 2;
    text-align: left;
}

/* Styling for the right column in the project details */
.rightColumn {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Styling for the project title */
.projectDetails h2 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    color: var(--color-text);
}

/* Styling for project description paragraphs */
.projectDetails p {
    line-height: 1.6;
    margin-bottom: 1rem;
    font-size: 1.1rem;
}

/* Styling for subheadings in project details */
.projectDetails h3 {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    color: var(--color-text);
    font-weight: 500;
}

/* Styling for unordered lists in project details */
.projectDetails ul {
    list-style: none;
    padding: 0;
}

/* Styling for list items in project details */
.projectDetails ul li {
    margin-bottom: 0.8rem;
    font-size: 1rem;
}

/* Styling for the project image in the right column */
.projectImage {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 10px;
}
