:root {
    /* Colours */
    --color-primary: #00e1ff; /* Gold */
    --color-secondary: #242424; /* Dark Grey */
    --color-bg: #424242; /* Black */
    --color-text: #FFFFFF; /* White */
    --color-muted-text: #B3B3B3; /* Light Grey */
    --color-highlight: #00BFFF; /* Electric Blue */
    --color-alert: #FF4C4C; /* Crimson Red */
    --color-interactive: #20B2AA; /* Teal */
    --color-futuristic: #39FF14; /* Neon Green */
    --color-boxshadow: rgb(0, 0, 0);

    /* Fonts */
    --font-robot: "Open Sans", sans-serif;
}
