:root {
    /* Colours */
    --color-primary: #ffbb00;
    --color-primary2: #000000;
    --color-primary3: #38a0c0;
    --color-primary4: #4494f0;
    --color-secondary: #242424;
    --color-bg: #424242;
    --color-text: #FFFFFF;
    --color-highlight: #00BFFF;
    --color-boxshadow: rgb(0, 0, 0);

    /* Fonts */
    --font-robot: "Open Sans", sans-serif;
}
